body {
    font-family: 'Roboto', sans-serif;
    max-width: 900px;
    margin: 0 auto;
    padding: 1rem;
}

.card {
    border: 1px solid #ddd;
    padding: 1rem;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    background-color: white;
}

header, footer {
    text-align: center;
    padding: 1.5rem;
} 

#course-title {
    display: block;
    font-size: 1.5rem;
}

nav {
    display: flex;
    justify-content: space-evenly;
    padding: 0.5rem;
}

nav a {
    text-decoration: none;
    color: #005599;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: #e0e0e0;
    color:#000;
    border-radius: 5px;
    padding:0.2rem 0.5rem;
}

main{
    display: grid;
    gap: 1rem;
}

.card {
    border: 1px solid #ddd;
    padding: 1rem;
}

section img,
img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}