@media screen and (min-width: 600px) {
  .mobile-icon {
    display: none;
  }

  #emoji::after {
    content: "🌏";
  }
}

.svg-icon {
    display: block;
    width: 100px;
    margin: 0 auto;
}

  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 2rem;
}

